SECRET_KEY=your-secret-key
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_ENVIRONMENT=pinecone-environment
PINECONE_INDEX_NAME=your-pinecone-index-name
OLLAMA_BASE_URL=http://localhost:11434
UPLOAD_DIR=your-upload-directory
